<% include partials/header_in.ejs %>
<% include partials/nav.ejs %>
<div class="container in">
    <div class="row">
        <div class="col-lg-6">
            <a href="/logout">Se déconnecter</a>
            <h1>Bienvenue sur votre compte <%= user.username %></h1>
            <% if (prod) { 
                if(prod.length > 1) {%>
                    <p>Voici les annonces que vous avez posté : </p>
                <%}
                else {%>
                    <p>Voici l'annonce que vous avez posté : </p>
                <%}
                for (var i = 0; i < prod.length; i++) {%>
            <ul>
                <li><a href="annonce/<%=prod[i]._id%>"><%=prod[i].title %></a></li>
            </ul>
            <% }
        } %>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>