<% include partials/header_in.ejs %>
<%- include("partials/nav.ejs", {user : user})%>
<div class="container in">
    <div class="row">
        <div class="col-lg-12">
            <form class="form_offer" action="/deposer" method="POST" enctype="multipart/form-data">
                <div class="bandeau"><p>Votre annonce</p></div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Titre de l'annonce</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="title" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Texte annonce</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Prix</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="price" pattern="[0-9]{1,}" required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Type d'annonce</label>
                    <select class="custom-select" name="addTypeProd" required>
                        <option value="offre">Offre</option>
                        <option value="demande">Demande</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Photo</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple name="photo">
                </div>
                <div class="bandeau"><p>Localisation</p></div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Ville ou code postal</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="city" required>
                </div>
                <div class="bandeau"><p>Vos informations</p></div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Pseudo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="pseudo" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" onblur="verifMail(this)" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Téléphone</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="telephone" pattern="[0-9]{10}" required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Vous êtes un</label>
                    <select class="custom-select" name="addType" required>
                        <option value="particulier">Particulier</option>
                        <option value="professionel">Professionel</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>     
            </form>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>