<% include partials/header_in.ejs %>
<%- include("partials/nav.ejs", {user : user})%>
<div class="container in">
    <div class="row offer">
        <div class="col-lg-8 bloc">
            page favorites
        </div>
    </div>
</div>
<% include partials/footer.ejs %>