<% include partials/header.ejs %>
<% include partials/nav.ejs %>
<% for (var i = 0; i < object.length; i++) { %>
    <p><%= object[i].title%></p>
    <a href="/annonce/<%= object[i].id %>"><img src="/uploads/<%= object[i].photo%>" /></a>
<% } %>

<% include partials/footer.ejs %>