h1 {
    font-size: 18px;
    line-height: 27px;
    color: #989898;
    font-weight: bold;
}

.in {
    padding: 70px 0;
}
.bandeau {
    background: grey;
}
.navbar {
    background: #f36b36 !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.actif {
    background: #f36b36 !important;
}
.navbar li a{
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
}

.logo {
    width: 100px;
}

.form_offer {
    margin-top: 30px;
    border: 1px solid grey;
    padding: 10px;
}

.bloc {
    border: 1px solid grey;
    padding-bottom: 20px;
    margin: 20px 10px 0 0;
}
.bloc:first-child {
    margin-right: 10px;
}


.offer{
    margin-top: 20px;
}
.offer img.visualProd {
    max-width: 390px;
    max-height: 390px;
    display: block;
    margin: 20px auto;
}

.title_bloc {
    background: #F2F2F2;
}

.borderLast {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;

}
.borderLast:last-child{
    border-top: none;
}
.offerHome img {
    width: 80%;
}

.offerHome {
    padding: 10px;
}

input:focus:invalid, textarea:focus:invalid {
    border: 1px solid red;
}

.price {
    font-weight: bold;
    color: #f36b36;
}

.title {
    font-weight: bold;
    color: #416F9A;
}

.showTel {
    font-weight: bold;
    background: #f36b36;
    color: #fff;
    text-align: center;
    margin-top: -40px;
    z-index: 10;
    position: relative;
}

.showTel:hover {
    cursor: pointer;
}

.showTel .fa-phone {
    transform: rotate(90deg);
}

.subMenu a {
    display: inline-block;
    background: #5096EC;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}
.subMenu a:hover {
    background: #f36b36;
}

.editLink a {
    display: block;
    background: #F2F2F2;
    color: #000;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.editLink a:first-child {
    margin: 5px 0;
}

.editLink a:hover {
    background: #5096EC;
    color: #fff;
}

#map {
    height: 300px;;
}

.fav {
    color: #CCCCCC;
}

.favActive {
    color: #D9453D;
    margin-top: -40px;
}

.fav:hover, .favActive:hover {
    cursor: pointer;
}

.none {
    display: none;
}

.carousel {
    width: 60%;
    margin: 0 auto;
}

footer {
    padding: 20px 0;
    background: #989898;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}


footer .twitter {
    color: #1EB1EB;
}
footer .facebook {
    color: #3D5A96;
    margin-right: 5px;
}
footer .foot {
    height: 60px;
}

.listProd li {
    list-style: none;
    flex-direction: row;
}

.listProd li img {
    max-width: 200px;
}
.cardLink:hover {
    text-decoration: none;
    color: #007bff
}
.cardLink {
    color: #000;
}
.cardLink h5 {
    margin-top: 5px;
    font-weight: normal;
}

.logout:hover {
    text-decoration: none;
    color: #F16B3F;
}